:root{
    --header-height: 3rem;
    --font-semi: 400;
}

/*Background Colour*/
:root{
    --bkg-color:gray;
    --text-color:#FFF;
}

body{
    background-color: var(--bkg-color);
    /*text-color: var(--text-color);*/
}
.github{
    height: 16px;
}